.providersList {
  margin: 0rem;
  padding: 0rem;
  padding-bottom: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .providerImg {
    margin-right: 0.7rem;
    width: 25px;
    height: 25px;
  }
  .providerItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    list-style: none;
  }
}
