@import "../../../scss/index";

.p {
  //   width: 85%;
  color: $PrimaryTextColor;
  font-family: $Inter-Regular;
  font-size: 18px;
  margin-bottom: 0rem;
  font-weight: normal;
  line-height: 33px;
}
