@import "../../../scss/index";

.commentItem {
  position: relative;
  width: 100%;
  list-style: none;
  // opacity: 0.3;
  padding-right: 2rem;
  padding-left: 1rem;
  // &:nth-child(1) {
  //   opacity: 1;
  //   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  //   border-radius: 15px;
  //   margin-bottom: 2rem;
  //   padding-bottom: 0.3rem;
  //   padding-top: 1rem;
  // }

  .comment {
    display: flex;
    flex-direction: row;
    .profileImge {
      height: 35px;
      min-width: 35px;
      margin-right: 1rem;
      border-radius: 50%;
      content: "";
      background-image: $ProfileImgColor;
    }
    .commentContent {
      display: flex;
      flex-direction: column;
      .userName {
        margin-top: 12px;
        font-size: 15px;
        font-family: $Inter-SemiBold;
        color: $UserNameColor;
      }
      .text {
        margin: 0rem;
        margin-bottom: 1rem;
        font-size: 15px;
        font-family: $Inter-Regular;
        color: $FourthTextColor;
        line-height: 22px;
      }
    }
  }
}
