@import "../../../scss/index";

.commentItem {
  position: relative;
  width: 100%;
  list-style: none;
  .comment {
    display: flex;
    flex-direction: row;
    .profileImge {
      width: 40px;
      height: 40px;
      margin-right: 1rem;
      border-radius: 50%;
      min-width: 40px;
      content: "";
      // background-image: $ProfileImgColor2;
    }
    .commentContent {
      display: flex;
      flex-direction: column;
      .userName {
        margin-top: 12px;
        font-size: 15px;
        font-family: $Inter-SemiBold;
        color: $UserNameColor;
      }
      .text {
        margin: 0rem;
        margin-bottom: 1rem;
        font-size: 15px;
        font-family: $Inter-Regular;
        color: $FourthTextColor;
        line-height: 22px;
      }
    }
  }
}
