@import "../../scss/index";

.hero {
  height: 100vh;
  .row {
    @include make-row();
    height: 100%;
    .col_7 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include make-col(xs, 12);
      @include make-col(sm, 12);
      @include make-col(md, 12);
      @include make-col(lg, 7);
      @include make-col(xl, 7);
      @include make-col(xxl, 7);
      .homepage {
        position: absolute;
        display: flex;
        flex-direction: column;
        .textHighlightOne {
          color: $PrimaryTextColor;
          font-family: $Inter-SemiBold;
          font-size: 30px;
          margin-bottom: 0rem;
          font-weight: bold;
        }
        .textHighlightTwo {
          color: $ThridTextColor;
          font-family: $Inter-SemiBold;
          font-size: 30px;
          margin-bottom: 0rem;
          font-weight: bold;
        }
        .introText {
          width: 85%;
          color: $PrimaryTextColor;
          font-family: $Inter-Regular;
          font-size: 18px;
          margin-bottom: 0rem;
          font-weight: normal;
          line-height: 33px;
        }
        .btnPostion {
          margin: 0rem;
          margin-top: 5rem;
          padding: 0rem;
        }
      }
    }
    .col_5 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include make-col(xs, 12);
      @include make-col(sm, 12);
      @include make-col(md, 12);
      @include make-col(lg, 5);
      @include make-col(xl, 5);
      @include make-col(xxl, 5);

      @include media-breakpoint-max($breakpoints-lg) {
        display: none;
      }
      .iphonePostion {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .iphone {
          --phoneBorderRadius: 36px;
          --phoneScreenBorderRadius: 33px;
          --phoneWidth: 264px;
          --phoneHeight: 533px;
          width: var(--phoneWidth);
          height: var(--phoneHeight);
          padding: 8px;
          z-index: 2;
          border-radius: var(--phoneBorderRadius);
          background: #f6f9fc;
          box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%),
            inset 0 -2px 6px 0 rgb(10 37 64 / 35%);
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-size: 16px;
          .iphoneBody {
            position: relative;
            height: 100%;
            border-radius: var(--phoneScreenBorderRadius);
            background: #fff;
            .iphoneContent {
              position: absolute;
              padding: 0rem;
              margin: 0rem;
              margin-left: 1rem;
            }
          }
          .btn {
            position: absolute;
            top: 91%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 0.5rem;
            width: 70%;
            height: 40px;
            border-radius: 10px;
            border: 2px solid transparent;
            background: linear-gradient(90deg, #fff, #0787ff73) border-box;
            mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            z-index: 1;
          }
          .btnText {
            position: absolute;
            z-index: 2;
            top: 88.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $SecondaryTextColor;
            font-style: $Inter-Regular;
            font-size: 13px;
          }
          .bg {
            top: 91%;
            left: 50%;
            border-radius: 10px;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 38px;
            content: "";
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }
        }
      }
    }
  }
}
