@import "../../scss/index";

.commentList {
  position: relative;
  margin: 0rem;
  padding: 0rem;
  margin-top: 5rem;
  height: 20rem;
  overflow-y: auto;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  //   &:after {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     width: 100%;
  //     background-image: $MessageFade;
  //     height: 120px;
  //   }
}
.bottomFade {
  content: "";
  position: relative;
  margin-top: -120px;
  width: 95%;
  background-image: $MessageFade;
  height: 120px;
}
