@import "../../scss/index";

.footer {
  display: flex;
  justify-content: space-between;
  padding-inline: $pageMarginWidth;
  align-items: center;
  @include media-breakpoint-max($breakpoints-xxl) {
    & {
      padding-inline: 2rem;
    }
  }
  @include media-breakpoint-max($breakpoints-lg) {
    & {
      padding-inline: 2rem;
    }
  }
  border-top: 1px solid #dddddd;
  margin-top: 10rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  .row {
    @include make-row();
    list-style: none;
    padding: 0rem;
    margin: 0rem;
    .item {
      margin-inline: 1rem;
      @include media-breakpoint-max($breakpoints-sm) {
        margin-inline: 0.5rem;
      }
      .icon {
        cursor: pointer;
        width: 25px;
        height: 25px;
        @include media-breakpoint-max($breakpoints-sm) {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .name {
    font-family: $Inter-Regular;
    color: $SecondaryHeaderColor;
    font-size: 12px;
    width: 8rem;
    margin: 0rem;
    @include media-breakpoint-max($breakpoints-sm) {
      font-size: 8px;
    }
  }
}
