$Inter-Light: "InterLight";
$Inter-Regular: "InterRegular";
$Inter-SemiBold: "InterSemiBold";
$SourceSansPro-Regular: "SourceSansProRegular";
$SourceSansPro-SemiBold: "SourceSansProSemiBold";

@font-face {
  font-family: "InterLight";
  src: url(../../public/assets/fonts/inter-light.ttf) format("truetype");
}
@font-face {
  font-family: "InterRegular";
  src: url(../../public/assets/fonts/inter-regular.ttf) format("truetype");
}
@font-face {
  font-family: "InterSemiBold";
  src: url(../../public/assets/fonts/inter-seminold.ttf) format("truetype");
}
@font-face {
  font-family: "SourceSansProRegular";
  src: url(../../public/assets/fonts/sourcesanspro-regular.ttf) format("truetype");
}
@font-face {
  font-family: "SourceSansProSemiBold";
  src: url(../../public/assets/fonts/sourcesanspro-semibold.ttf) format("truetype");
}
