$PrimaryTextColor: #3a3a3a;
$SecondaryTextColor: #0788ff;
$ThridTextColor: #aa9cff;
$FourthTextColor: #777777;
$FithtextColor: #000;
$SecondaryHeaderColor: #9f9f9f;
$PrimaryBackgroundColor: #fafafa;
$ProfileImgColor: linear-gradient(280deg, #aa9cff, #aa9cff, #70a5ff, #37d2f3, #37d2f3);
$ProfileImgColor2: linear-gradient(280deg, #ff15cc, #ff4750ce, #ffcb57);
$secondProfileImg: #e4e4e4;
$MessageFade: linear-gradient(360deg, #fafafafa, #ffffff00);
$PrimaryBgColor: #fafafa;
$SecondaryBgColor: #ffffff;
$NavLinkHover: #dadada7c;
$NobackGround: #ffffff00;
$UserNameColor: #505050;

$breakpoints-xs: 0px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
// $breakpoints-xxxl: 1500px;

$grid-columns: 12;
$breakpoint-Arry: (xs, sm, md, lg, xl, xxl);
$breakpointSizes: (0px, 576px, 768px, 992px, 1200px, 1400px);

$pageMarginWidth: 18.75rem;
